.progress-bar-container {
    background-color: #eee;
 }
 .progress-bar {    
    height: 12px;
    width: 0;
 }
 .progress-bar.green {
    background-color: #3e89e6 ;
 }
 .progress-bar.yellow {
    background-color: yellow;
 }
 .progress-bar.red {
    background-color: red;
 }
 