<app-loader [showloader]="showloader"></app-loader>
<!-- banner -->
<section class="banner-sec">
	<div class="container">
		<div class="banner_content text-center" *ngIf="sliderData" >
			<h2 >{{sliderData.title}}</h2>
    
	 <p>{{sliderData.content}}</p>
		</div>
	</div>
</section>
<!-- banner end -->

<!-- hiro-video-sec code-->
<section class="hiro-video-sec">
	<div class="container">
		<div class="hiro-video_content">
			<!-- row -->
			<div class="row" *ngIf="quizDataReceived">



				<div class="col-lg-4 col-md-4 col-sm-6 col-12" *ngFor="let data of sliderItem;let i = index ">
					<div class="hiro-video_card">
						<figure>
							<img src='{{url+data.url}}' (click)="startQuiz(i)">
						</figure>
					</div>
				</div>
				
			</div>
			<!-- row end -->
		</div>
	</div>
</section>
<!-- hiro-video-sec end code-->
