<app-header></app-header>
<app-loader [showloader]="showloader"></app-loader>
<!-- banner -->
<section class="banner-sec" [ngStyle]="{'background-image': 'url(' + sliderData.bgImage + ')'}" *ngIf="sliderData">
	<div class="container" >
		
		<div class="banner_content text-center"  >
			
			<h1 class="quiz-title">{{sliderData.title}}</h1>
    
	 			<div class="quiz-content"><pre  >{{sliderData.content}}</pre></div>
		</div>
	</div>
</section>
<!-- banner end -->

<!-- hiro-video-sec code-->
<section class="hiro-video-sec">
	<div class="container">
		<div class="hiro-video_content">
			<!-- row -->
			<!-- <div class="row" *ngIf="quizDataReceived">



				<div class="col-lg-4 col-md-4 col-sm-6 col-12" *ngFor="let data of sliderItem;let i = index ">
					<div class="hiro-video_card">
						<figure>
							<img src='{{url+data.url}}' (click)="startQuiz(i)">
						</figure>
					</div>
				</div>
				
				
			</div> -->
			<!-- row end -->
			<div *ngIf="quizDataReceived">
			<!-- owl-carousel  -->
		   

			<ngx-slick-carousel class="carousel n-carousel" 
			#slickModal="slick-carousel" 
			[config]="fourInARowSlider">
		   <div ngxSlickItem *ngFor="let data of sliderItem;let i = index" class="slide">
				<figure>
					<img src='{{url+data.url}}' (click)="startQuiz(i)">
				</figure>
		   </div>
		   </ngx-slick-carousel>
		   <!-- owl-carousel END  -->
		   </div>
		</div>
	</div>
</section>
<!-- hiro-video-sec end code-->
<app-footer></app-footer>