<div class="container">
    <h1>Login/Signup</h1>
    <form  method="post" [formGroup]="authForm" (ngSubmit)="submitForm()">
        <div class="form-group col-md-6">
            <input type="email" class="form-control" formControlName="email" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
        </div>
        <div class="form-group col-md-6">
            <button class="btn btn-primary" type="submit">{{ isLogin? 'Login': 'Signup'}}</button> | <button class="btn btn-primary" (click)="switchAuth()">Switch To {{ isLogin ? 'Signup':  'Login'}}</button>
        </div>

    </form>
</div>