.main-header {
    background: #3e8ae6;
    padding: 10px 0;
}
.main-header .navbar-brand img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: scale-down;
}
.main-header .navbar-nav li a {
    color: #fff;
    font-size: 13px;
    line-height: 13px;
    padding: 15px 11px;
    text-transform: uppercase;
}
.main-header .dropdown-menu.show a.dropdown-item {
    color: #000!important;
}
.nav-item .dropdown .dropdown-toggle {
    color: #fff;
    font-size: 15px;
    line-height: 29px;
}
header.main-header a.navbar-brand {
    width: 85px;
}

/*210531*/
.main-header li.nav-item a {
    font-size: 11px!important;
}
.main-header ul.navbar-nav li .dropdown button {
    font-size: 11px!important;
}
.main-header ul.navbar-nav li .dropdown button:hover {
    color: #c9c9c9;
}
.main-header ul.navbar-nav li .dropdown.show .dropdown-menu.show a {
    color: #777!important;
    font-size: 11px!important;
}
.main-header ul.navbar-nav li .dropdown.show .dropdown-menu.show a.active {
    background: #f3f3f3!important;
}
.main-header ul.navbar-nav li .dropdown.show .dropdown-menu.show a:hover {
    background: #f3f3f3!important;
}
.main-header ul.navbar-nav li {
    margin: 0 7px;
}
.main-header ul.navbar-nav li a:hover {
    color: #c9c9c9;
}
/*210531 end*/
/*.main-header .dropdown:hover .dropdown-menu {
    display: block;
}*/
.main-header .dropdown-menu.show {
    border-radius: 0;
}