.result-sec {
    background-color: #333333;
    color: #fff;
    height: 100vh;
    width: 100%;
}
.result_top-message p {
    font-size: 17px;
    line-height: 17px;
}
.result_buttons button {
    padding: 10px 15px;
    border-radius: 6px;
    border: 2px solid #333333;
    background-color: #1e73be !important;
    color: #ffffff;
    font-size: 14px;
    margin: 0 10px;
    font-weight: 500;
}
.result_buttons button:hover {
    border: 2px solid #fff;
}
.selection-main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.selection_left{
    width: 229px;
    height: 193.2px;
}
.selection_left-content {
    /* padding: 20px;
    border: 17px solid #1e73be;
    border-radius: 50%;
    width: 199px;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 199px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    border: 20px solid #1e73be;
    border-radius: 50%;
    width: 199px;
    margin: 0 45px;
    height: 193.2px;
}
.selection_left-content p:first-child {
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
}
.selection_left-content p {
    font-size: 17px;
    line-height: 24px;
}
.selection_right-content h2 {
    margin: 38px 0 20px 0;
}
.selection_right-content{
    width: 532px;
    height: 240px;
}
.selection-list {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
}
ul.selection-list li {
    margin: 0 10px;
    list-style: none;
}
.selection_circle {
    width: 80px;
    height: 80px;
    line-height: 60px;
    border: 10px solid #1e73be;
    border-radius: 50%;
    font-size: 24px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selection_card-content p {
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
}
.result_buttons {
    padding: 12px 0;
}
.result_content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.result_top-message img {
    height: 30px;
    width: 60px;
    margin-bottom:10px;
}
.result_top-message {
    text-align: center;
}
/*210420*/

@media(max-width: 991px){
.selection_left-content {
    margin: 0 20px;
}
.selection-main .selection_left .selection_left-content {
   padding: 10px!important;
    width: 170px!important;
    margin: 0 15px!important;
    height: 170px;
    border: 14px solid #1e73be;
}
.selection_right-content h2{
    margin: 8px 0 10px 0;
    font-size: 17px;
}
}

@media(max-width: 767px){

.selection_right-content h2 {
    font-size: 16px;
    margin: 10px 0 10px 0;
}
.selection-main .selection_left .selection_left-content {
   padding: 10px!important;
    width: 170px!important;
    margin: 0 15px!important;
    height: 170px;
    border: 14px solid #1e73be;
}
.selection_circle {
    width: 65px;
    height: 65px;
    margin-bottom: 6px;
    border: 7px solid #1e73be;
}
.selection_card-content p {
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
}
}
@media(max-width: 639px){
.selection-main {
    display: none!important;
}
}
/*210420 end*/