<app-header></app-header>
<app-loader [showloader]="showloader"></app-loader>
<div *ngIf="showMemberPage">
<!-- banner section code -->
<section class="banner-sec">
		<div class="banner_content">
			
			<figure class="video-player-wrapper">

				<vg-player (onPlayerReady)="videoPlayerInit($event)">
					
					<vg-buffering></vg-buffering>
				
					<video [vgMedia]="media" #media id="singleVideo" src="../../assets/video/video.mp4"preload="auto" crossorigin webkit-playsinline="true" playsinline="true">
					 
					</video>
				  </vg-player>
				
				<!-- <iframe width="560" height="315" [src]="videoUrl" class="e2e-iframe-trusted-src"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
			</figure>
		</div>
		
</section>
<!-- banner section end code -->

<!-- main tab section code -->


<section class="main-tab-sec bg-color33" *ngIf="mainTab!=null">
	<div class="container">
		<div class="main-tab_content">
			<h2>Main Tabs</h2>
			<!-- carousel start -->
			<ngx-slick-carousel class="carousel" 
			 #slickModal="slick-carousel" 
			 [config]="ThreeInARowSlider">
			<div ngxSlickItem *ngFor="let data of mainTab" class="slide">
				<a [href]="data.url" target="_blank">
					<img src="{{url+data.img_url}}" class="carousel-image"  alt="" >
				</a>
			</div>
			</ngx-slick-carousel>
			<!-- carousel end -->
		</div>
	</div>
</section>
<!-- main tab section end code -->

<!-- YOUR USER STATS CODE -->
<section class="your-user-sec bg-color33">
	<div class="container">
		<!-- YOUR USER STATS -->
		<div class="your-user_content margin-div">
			<h2>YOUR USER STATS</h2>
			<!-- row -->
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="your-user_card">
						<a href="javascript:void(0);">{{memberPageData.stats.ConsecutiveLogin}}</a>
						<p>Consecutive <br> Days Trained</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="your-user_card">
						<a href="javascript:void(0);">{{memberPageData.stats.session_count}}</a>
						<p>Sessions <br> Completed</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="your-user_card">
						<a href="javascript:void(0);">{{memberPageData.stats.login_count}}</a>
						<p>Total <br>Login Days</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="your-user_card">
						<a href="javascript:void(0);">{{memberPageData.stats.user_trained_time}} mins</a>
						<p>Total Time  <br> Trained</p>
					</div>
				</div>
			</div>
			<!-- row end -->
		</div>
		<!-- YOUR USER STATS END CODE -->

		<!-- CURRENT STREAK CODE -->
		<div class="current-streak_content margin-div" *ngIf="memberPageData.current_streak!='' ">
			<h2>CURRENT STREAK</h2>
			<ul>
				<li *ngFor="let current_streak of memberPageData.current_streak">
					<figure>
						<img src="{{current_streak.image}}">	
					</figure>
					<p class="bodyforsessionCompleted-data">{{current_streak.data}}</p>
					<p>{{current_streak.name}}</p>
				</li>				
			</ul>
		</div>
		<!-- CURRENT STREAK END CODE -->

		<!-- MOST SESSIONS COMPLETED CODE -->
		<div class="current-streak_content margin-div"  *ngIf="memberPageData.most_session_completed!='' ">
			<h2>MOST SESSIONS COMPLETED</h2>
			<ul>
				<li *ngFor="let most_session_completed of memberPageData.most_session_completed">
					<figure>
						<img src="{{most_session_completed.image}}">	
					</figure>
					<p class="bodyforsessionCompleted-data">{{most_session_completed.data}}</p>
					<p>{{most_session_completed.name}}</p>
				</li>
				
			</ul>
		</div>
		<hr class="hr-bottom">
		<!-- MOST SESSIONS COMPLETED END CODE -->

		<!-- TUTORIALS CODE -->
		<div class="tutorials_content margin-div" *ngIf="tutorialTab!=null">
			<h2>Tutorials</h2>
			<!-- owl-carousel  -->
		   

			  <ngx-slick-carousel class="carousel" 
			 #slickModal="slick-carousel" 
			 [config]="fourInARowSlider">
			<div ngxSlickItem *ngFor="let data of tutorialTab" class="slide">
				<a [href]="data.url" target="_blank">
					<img src="{{url+data.img_url}}" class="carousel-image"  alt="" >
				</a>
			</div>
			</ngx-slick-carousel>
			<!-- owl-carousel END  -->
		</div>
		<!-- TUTORIALS CODE -->

		<!-- Most Popular Pitchers CODE -->
		<div class="pitchers_content margin-div" *ngFor="let quizDataSlider of quizDataForMember">
			<h2>{{quizDataSlider.title}}</h2>
			<!-- owl-carousel  -->
		    
			<ngx-slick-carousel class="carousel" 
			 #slickModal="slick-carousel" 
			 [config]="quizDataSlider.data.length>4?fourInARowSlider:ThreeInARowSlider"
			 >
			<div ngxSlickItem *ngFor="let data of quizDataSlider.data" class="slide">
				<a (click)="playQuiz(data.slug)">
			    	<img src="{{url+data.img_url}}" class="carousel-image"  alt="" >
			    </a>
			</div>
			</ngx-slick-carousel>
			<!-- owl-carousel END  -->
		</div>
		<!-- Most Popular Pitchers END CODE -->


		<!-- Courses & Hitting Drills CODE -->
		<div class="hitting-drills_content margin-div" *ngIf="hitDrillTab!=null">
			<h2>Courses & Hitting Drills </h2>
			
			<ngx-slick-carousel class="carousel" 
			 #slickModal="slick-carousel" 
			 [config]="ThreeInARowSlider"
			 >
			<div ngxSlickItem *ngFor="let data of hitDrillTab" class="slide">
				<a href="{{data.url}}" target="_blank">
			    	<img src="{{url+data.img_url}}" class="carousel-image"  alt="" >
			    </a>
			</div>
			</ngx-slick-carousel>
			<!-- owl-carousel END  -->
		</div>
		<!-- Courses & Hitting Drills END CODE -->
	</div>
</section>
<!-- YOUR USER STATS END CODE -->

</div>
<app-footer></app-footer>

 