<app-header></app-header>
<app-loader [showloader]="showloader"></app-loader>
<div *ngIf="showMemberPage">
<!-- banner section code -->
<section class="banner-sec" *ngIf="memberPageData.video_url!=''">
		<div class="banner_content">
			
			<figure>
				
				<iframe width="560" height="315" [src]="videoUrl" class="e2e-iframe-trusted-src" title="Member Page Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</figure>
		</div>
		
</section>
<!-- banner section end code -->

<!-- main tab section code -->
<section class="main-tab-sec bg-color33" *ngIf="mainTab!=null">
	<div class="container">
		<div class="main-tab_content">
			<h2>Main Tabs</h2>
			<!-- carousel start -->
			<owl-carousel-o [options]="ThreeInARowSlider">
			    <ng-template carouselSlide *ngFor="let data of mainTab">
			    	<a href="{{data.url}}" target="_blank">
			    	<img src="{{url+data.img_url}}" class="attachment-medium size-medium" alt="" loading="lazy" sizes="(max-width: 300px) 100vw, 300px">
			    	</a>
			    </ng-template>  			    	
			    	
			  </owl-carousel-o>
			<!-- carousel end -->
		</div>
	</div>
</section>
<!-- main tab section end code -->

<!-- YOUR USER STATS CODE -->
<section class="your-user-sec bg-color33">
	<div class="container">
		<!-- YOUR USER STATS -->
		<div class="your-user_content margin-div">
			<h2>YOUR USER STATS</h2>
			<!-- row -->
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="your-user_card">
						<a href="javascript:void(0);">{{memberPageData.stats.ConsecutiveLogin}}</a>
						<p>Consecutive <br> Days Trained</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="your-user_card">
						<a href="javascript:void(0);">{{memberPageData.stats.session_count}}</a>
						<p>Sessions <br> Completed</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="your-user_card">
						<a href="javascript:void(0);">{{memberPageData.stats.login_count}}</a>
						<p>Total <br>Login Days</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="your-user_card">
						<a href="javascript:void(0);">{{memberPageData.stats.user_trained_time}} mins</a>
						<p>Total Time  <br> Trained</p>
					</div>
				</div>
			</div>
			<!-- row end -->
		</div>
		<!-- YOUR USER STATS END CODE -->

		<!-- CURRENT STREAK CODE -->
		<div class="current-streak_content margin-div" *ngIf="memberPageData.current_streak!='' ">
			<h2>CURRENT STREAK</h2>
			<ul>
				<li *ngFor="let current_streak of memberPageData.current_streak">
					<figure>
						<img src="{{current_streak.image}}">	
					</figure>
					<p class="bodyforsessionCompleted-data">{{current_streak.data}}</p>
					<p>{{current_streak.name}}</p>
				</li>				
			</ul>
		</div>
		<!-- CURRENT STREAK END CODE -->

		<!-- MOST SESSIONS COMPLETED CODE -->
		<div class="current-streak_content margin-div"  *ngIf="memberPageData.most_session_completed!='' ">
			<h2>MOST SESSIONS COMPLETED</h2>
			<ul>
				<li *ngFor="let most_session_completed of memberPageData.most_session_completed">
					<figure>
						<img src="{{most_session_completed.image}}">	
					</figure>
					<p class="bodyforsessionCompleted-data">{{most_session_completed.data}}</p>
					<p>{{most_session_completed.name}}</p>
				</li>
				
			</ul>
		</div>
		<hr class="hr-bottom">
		<!-- MOST SESSIONS COMPLETED END CODE -->

		<!-- TUTORIALS CODE -->
		<div class="tutorials_content margin-div" *ngIf="tutorialTab!=null">
			<h2>Tutorials</h2>
			<!-- owl-carousel  -->
		    <owl-carousel-o [options]="fourInARowSlider">
				<ng-template carouselSlide *ngFor="let data of tutorialTab">
			    	<a href="javascript:void(0)">
			    	<img src="{{url+data.img_url}}" class="attachment-medium size-medium" alt="" loading="lazy" sizes="(max-width: 300px) 100vw, 300px">
			    	</a>
			    </ng-template>
		  	</owl-carousel-o>
			<!-- owl-carousel END  -->
		</div>
		<!-- TUTORIALS CODE -->

		<!-- Most Popular Pitchers CODE -->
		<div class="pitchers_content margin-div" *ngFor="let quizDataSlider of quizDataForMember">
			<h2>{{quizDataSlider.title}}</h2>
			<!-- owl-carousel  -->
		    <owl-carousel-o [options]="quizDataSlider.carouselLength==4?fourInARowSlider:fiveRowSlider">
				<ng-template carouselSlide *ngFor="let data of quizDataSlider.data">
			    	<a (click)="playQuiz(data.slug)">
			    	<img src="{{url+data.img_url}}" class="attachment-medium size-medium"  alt="" loading="lazy" sizes="(max-width: 300px) 100vw, 300px">
			    	</a>
			    </ng-template>
		  	</owl-carousel-o>
			<!-- owl-carousel END  -->
		</div>
		<!-- Most Popular Pitchers END CODE -->


		<!-- Courses & Hitting Drills CODE -->
		<div class="hitting-drills_content margin-div" *ngIf="hitDrillTab!=null">
			<h2>Courses & Hitting Drills </h2>
			<!-- owl-carousel  -->
		    <owl-carousel-o [options]="fourInARowSlider">
			    <ng-template carouselSlide *ngFor="let data of hitDrillTab">
			    	<a href="{{data.url}}" target="_blank">
			    	<img src="{{url+data.img_url}}" class="attachment-medium size-medium" alt="" loading="lazy" sizes="(max-width: 300px) 100vw, 300px">
			    	</a>
			    </ng-template>
		  	</owl-carousel-o>
			<!-- owl-carousel END  -->
		</div>
		<!-- Courses & Hitting Drills END CODE -->
	</div>
</section>
<!-- YOUR USER STATS END CODE -->

</div>
<app-footer></app-footer>

 