/*banner css*/
.banner_content figure {
    width: 100%;
    height: 930px;
    margin: 0;
}
.banner_content figure iframe {
    width: 100%;
    height: 100%;
}
/*banner end css*/

/*main tab section css*/
.bg-color33 {
	background-color: #333333;
}
.main-tab-sec {
    background: #333333;
    color: #fff;
    padding-top: 100px;
}
.main-tab_content h2{
	font-size: 15px;
    font-weight: 500;
}
.customOptions img{
	width: 100%;
	height: 210px;
	object-fit: cover;
}
/*main tab section end css*/

/*YOUR USER STATS CSS*/
.hr-bottom {
	background-color: #555;
}
.your-user-sec.bg-color33 {
    padding: 100px 0;
}
.your-user-sec h2 {
    color: #fff;
}
.your-user_card {
    background: #525252;
    border-radius: 10px;
    text-align: center;
    padding: 30px 20px;
    margin-bottom: 30px;
    color: #fff;
}
.your-user_card a {
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: 0 0!important;
    height: 170px;
    width: 170px;
    border: 5px solid #266cbf;
    border-radius: 50%;
    margin: 0 auto;
    color: #fff;
}
.your-user_card p {
    font-size: 25px!important;
    color: #fff;
    font-weight: 300;
    margin: 0;
    margin-top: 10px;
    word-break: break-word;
    line-height: 30px;
}
/*YOUR USER STATS END CSS*/

/*CURRENT STREAK CSS*/
li{
	list-style: none;
}
.current-streak_content ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.current-streak_content ul li {
    width: 18.5%;
    background: #525252;
    border-radius: 10px;
    text-align: center;
    padding: 30px 20px;
    margin-bottom: 30px;
}
.current-streak_content ul li figure {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin:0 auto;
}
.current-streak_content ul li figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.current-streak_content ul li p {
    font-size: 24px!important;
    color: #fff;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
    word-break: break-word;
    line-height: 30px;
}
.current-streak_content .bodyforsessionCompleted-data{
	margin-top: 20px;
    font-weight: 300;
}
/*CURRENT STREAK END CSS*/

/*MOST SESSIONS COMPLETED CSS*/
.margin-div {
    margin: 27px 0;
}
/*MOST SESSIONS COMPLETED END CSS*/


.carousel-wrap {
    width: 1000px;
    margin: auto;
    position: relative;
  }
  .owl-carousel .owl-nav{
    overflow: hidden;
    height: 0px;
  }

  .owl-theme .owl-dots .owl-dot.active span, 
  .owl-theme .owl-dots .owl-dot:hover span {
      background: #2caae1;
  }


  .owl-carousel .item {
      text-align: center;
  }
  .owl-carousel .nav-btn{
      height: 47px;
      position: absolute;
      width: 26px;
      cursor: pointer;
      top: 100px !important;
  }

  .owl-carousel .owl-prev.disabled,
  .owl-carousel .owl-next.disabled{
    pointer-events: none;
    opacity: 0.2;
  }

  .owl-carousel .owl-prev{
      background: url('../../assets/icons/left.png') no-repeat scroll 0 0;
      left: -33px;
  }
  .owl-carousel .next-slide{
      background: url('../../assets/icons/right.png') no-repeat scroll -24px 0px;
      right: -33px;
  }
  .owl-carousel .owl-prev:hover{
     background-position: 0px -53px;
  }
  .owl-carousel .next-slide:hover{
    background-position: -24px -53px;
  }

  /* 210521 start here */
  .owl-carousel .owl-prev {
        left: 0;
        position: absolute;
        top: 50%;
        transform:translateY(-50%);
    }
    .owl-carousel .owl-next {
        right: 0;
        position: absolute;
        top:50%;
        transform:translateY(-50%);
    }
    .owl-carousel .owl-prev span img,
    .owl-carousel .owl-next span img {
        width: 35px;
    }
    .owl-carousel .owl-prev,
    .owl-carousel .owl-next {
        background:none!important;
    }
    .owl-theme .owl-nav {
        margin-top: 0 !important;
    }

/* 210521 end here */



  span.img-text {
    text-decoration: none;
    outline: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    cursor: pointer;
    width: 100%;
    font-size: 23px;
    display: block;
    text-transform: capitalize;
  }
  span.img-text:hover {
    color: #2caae1;
  }


/*RESPONSIVE CSS*/
@media(max-width: 1199px){
.current-streak_content ul li {
    width: 21.5%;
    padding: 20px 20px;
    margin: 15px;
}
.your-user_card a {
    font-size: 30px;
    line-height: 35px;
}
.your-user_card p {
    font-size: 18px!important;
    line-height: 26px;
}
.current-streak_content ul li p {
    font-size: 18px!important;
    line-height: 25px;
}
.banner_content figure {
    height: 700px;
}
}

@media(max-width: 991px){
.current-streak_content ul {
    justify-content: space-around;
}
.current-streak_content ul li {
    width: 28.5%;
}
.banner_content figure {
    height: 600px;
}
}

@media(max-width: 767px){
.current-streak_content ul li {
    width: 43.5%;
}
.banner_content figure {
    height: 400px;
}
.main-tab-sec{
    padding-top: 65px;
}
.your-user-sec.bg-color33 {
    padding: 65px 0;
}
}

@media(max-width: 575px){
.your-user-sec h2 {
    text-align: center;
}
.main-tab-sec{
    padding-top: 50px;
}
.your-user-sec.bg-color33 {
    padding: 50px 0;
}
}

@media (max-width: 500px){
.current-streak_content ul li {
    width: 100%;
}
.current-streak_content ul li {
    margin: 15px 0;
}
}
/*RESPOSIVE END CSS*/