/*210428*/
.scoreDiv {
    width: 120px;
    height: 120px;
    background: #3e8ae6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 23px;
    border-radius: 50%;
    margin: 0px auto -50px auto;
}
.modal-header {
    border: none;
    padding: 0;
}
.modal-header .close {
    padding: 0!important;
    margin: 0!important;
}
.modal-sec h1 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;    
}
.modal-sec ul li h2 {
    font-size: 16px;
    margin: 0;
}
.modal-sec ul{
    padding: 0;   
}
.modal-sec ul li {
    /*margin: 0 40px;*/
    text-align: center;
    list-style: none;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
}
.modal-sec ul li.redCheck {
    color: red;
}
.modal-sec ul li.greenCheck {
    color: green;
}
.modal-sec .btn.btn-default {
    background: #3e8ae6;
    color: #fff;
    border: none;
    outline: none;
}
/*responsive*/
@media (max-width: 991px){
.scoreDiv {
    width: 60px;
    height: 60px;
}
.modal-sec ul li {
    margin: 0 10px;
}
.modal-header {
    padding: 10px 15px 0!important;
}
}
/*responsive end*/
/*210428 end*/

/*210611*/

/*.scoreDiv-outer-wrap{
    display: flex;
    justify-content: center;
    align-items:  center;
}*/
.scoreDiv-outer-wrap .scoreDiv {
    width: 90px;
    height: 90px;
    color: #fff;
}
.scoreDiv-outer-wrap .scoreDiv,
.scoreDiv-outer-wrap .scoreDiv p {
     margin: 0px!important; 
}
.scoreDiv-inner-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scoreDiv-inner-wrap h6{
    text-align: center;
    font-size: 12px;
}
.scoreDiv-outer-wrap .scoreDiv-inner-wrap:first-child{
    /*margin-right: 15px!important;*/
}
.cstm-scoreDiv-row .reaction-li{
    /*color: #000;*/
}
/*210623*/
div#cdk-overlay-0 {
    width: 100%!important;
}
.cdk-overlay-pane {
    width: 100%!important;
}
.cstm-col-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.scoreDiv-outer-wrap {
    background: #333333;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    padding: 25px 15px;
    height: 100%;
}
.cstm-col-wrap .answer-center-wrapper {
    height: 100%;
    background: #333333;
    border-radius: 10px;
    color: #fff;
    padding: 25px 15px;
}
.col-third_inner_wrap {
    background: #3e8ae6;
    height: 100%;
    border-radius: 10px;
    color: #fff;
    padding: 25px 15px;
}
.modal-sec .modal-footer {
    border: none;
    padding: 0;
}

@media(max-width: 991px){
.scoreDiv-outer-wrap {
    display: flex!important;
    justify-content: space-around;
}
}
/*210623 end*/