<div class="container-fluid">
    <div class="mobile-portrait">
                <figure>            
                    <img [src]="portateModeImage"><br>
                    <span>Please rotate your device!</span>
                </figure>
    </div>
    <div class="quiz" *ngIf="quizData"> 
        
        <!-- First page of quiz -->
        <div class="quiz-firstPage" *ngIf="showFirstPage">
            <div class="col-md-12"> 
                <p class="quiz-head">{{quizData.quiz_title}}</p>
                <pre class="text-white">{{quizData.quiz_description}}</pre>
            </div>
            <div class="col-md-12"> 
            <button class="quiz-btn" (click)="playQuiz();">Start</button>
            </div>
        </div>


        <div *ngIf="showSwing">
           
                <div class="row row_sec"> 
                    <div class="col-md-7 col-sm-7 col-6 col_video" [ngClass]="!ShowVideo?'left-side-hide':''"> 
                        <app-videos  [url]="currentQuestion.url" [showThumbs]="showThumbs" [rightThumbs]="rightThumbs" (videoEnded)="videoEnded($event)"></app-videos>
                    </div>
                    <div class="col-md-5 col-sm-5 col-6 col_video"> 
                        <div class="video_card">
                            <div class="video_top_content">
                            <div>
                                <p>{{currentQuestion.currentIndex +1}}/{{currentQuestion.totalQuestion}}</p>
                                <p>Pitch Count</p>
                            </div>
                            <!-- <div>
                                <a href="javascript:void(0);" class="btn video_btn">Next</a>
                            </div> -->
                        </div>
                        </div>
                        
                        <div class="video_box">
                            <a href="javascript:void(0);" (click)="optionSelect(1);">SWING!</a>
                        </div>

                        <div class="report-btn">
                            <a href="javascript:void(0);" class="report_button">Report Issue</a>
                        </div>
                    </div>

                </div>
        
            
            
        </div>


        <div *ngIf="showNormalQuiz">
          
            <div class="row row_sec"> 
                
                <div class="col-md-7 col-sm-7 col-6 col_video" [ngClass]="!ShowVideo?'left-side-hide':''"> 
                    <app-videos  [url]="currentQuestion.url" [showThumbs]="showThumbs" [rightThumbs]="rightThumbs" (videoEnded)="videoEnded($event)"></app-videos>
                </div>

                <div class="col-md-5 col-sm-5 col-6 col_video " [ngClass]="questionDisplay?'col-add_after':''"> 
                    <div class="video_card">
                        <div class="video_top_content">
                        <div>
                            <p>{{currentQuestion.currentIndex+1}}/{{currentQuestion.totalQuestion}}</p>
                            <p>Pitch Count</p>
                        </div>
                        <!-- <div>
                            <a href="javascript:void(0);" class="btn video_btn">Next</a>
                        </div> -->
                    </div>
                    </div>
                    <!-- showNormalQuiz start -->
                    <div class="show_Normal-Quiz">
                        <div class="ays-bind-subquestion"  *ngFor="let quizans of currentQuestion.answers">
                            <div class="ays-bind-subquestion">
                               
                            <p class="text-center" >{{quizans.label}}</p>
                            <div class="normal_quiz-btn">
                                <button type="button" class="btn quiz-one" [ngClass]="hightlightButtonId==quizans.answer1.id?'btn-color-yellow':''" (click)="normalQuizAnswer(quizans.answer1.id);">{{quizans.answer1.answer}}</button>
                                <button type="button" class="btn quiz-two" [ngClass]="hightlightButtonId==quizans.answer2.id?'btn-color-yellow':''" (click)="normalQuizAnswer(quizans.answer2.id);">{{quizans.answer2.answer}}</button>
                            </div>
                             </div>   
                         </div>                     
                        <!-- showNormalQuiz end -->
                        <!-- Timer -->

                        <!-- Timer end-->
                    </div>
                    <div class="report-btn">
                        <a href="javascript:void(0);" class="report_button">Report Issue</a>
                    </div>
                </div>
            </div>  
    </div>



    <div *ngIf="showSingleLineQuiz">
           
        <div class="row row_sec"> 
            
            <div class="col-md-7 col-sm-7 col_video" [ngClass]="!ShowVideo?'left-side-hide':''"> 
                <app-videos  [url]="currentQuestion.url" [showThumbs]="showThumbs" [rightThumbs]="rightThumbs" (videoEnded)="videoEnded($event)"></app-videos>
            </div>

            <div class="col-md-5 col_video"> 
                <div class="video_card">
                    <div class="video_top_content">
                    <div>
                        <p>1/10</p>
                        <p>Pitch Count</p>
                    </div>
                    <div>
                        <a href="javascript:void(0);" class="btn video_btn">Next</a>
                    </div>
                </div>
                </div>
                <!-- showSingleLineQuiz start-->
                <div class="showSingleLineQuiz-box">
                    <button type="button" class="singleline_btn">FAST BALL</button>
                    <button type="button" class="singleline_btn">CURVEBALL</button>
                    <button type="button" class="singleline_btn">CHANGE-UP</button>
                </div>
                <!-- showSingleLineQuiz end -->
                
                <div class="report-btn">
                    <a href="javascript:void(0);" class="report_button">Report Issue</a>
                </div>
            </div>
        </div>

    
    
</div>


        <div *ngIf="resultPage">
            <app-result [resultPageData]="storeResultArray"></app-result>
        </div>

    </div>    
    

    
</div>

