
<div class="container-fluid">
    <div class="mobile-portrait">
                <figure>            
                    <img [src]="portateModeImage"><br>
                    <span>Please rotate your device!</span>
                </figure>
    </div>
    <div class="quiz" *ngIf="quizData"> 
        
        <!-- First page of quiz -->
        <div class="quiz-firstPage" *ngIf="showFirstPage">
            <div class="col-md-12"> 
                <p class="quiz-head">{{quizData.quiz_title}}</p>
                <pre class="text-white">{{quizData.quiz_description}}</pre>
            </div>
           
            <div class="col-md-12"> 
            <button class="quiz-btn" (click)="playQuiz();">Start</button>
            </div>
        </div>


        <div *ngIf="showSwing">
           
                <div class="row row_sec "> 
                  
                    <div class="col-lg-9 col-md-8 col-sm-8 col-6 col_video" [ngClass]="!ShowVideo?'left-side-hide':''" [ngClass]="showPlayButton?'showPlayButton':''"> 
                        <app-videos  [url]="currentQuestion.url" [showThumbs]="showThumbs" [rightThumbs]="rightThumbs" (videoEnded)="videoEnded($event)" (videoPlay)="playButton($event)" (videoDuration)="videoDuration($event)"></app-videos>
                    </div>
                    
                    <div class="col-md-3 col-sm-4 col-6 col_video_button" [ngClass]="questionDisplay?'col-add_after':''"> 
                        <div class="video_card">
                            <div class="video_top_content">
                            <div>
                                <p>{{currentQuestion.currentIndex +1}}/{{currentQuestion.totalQuestion}}</p>
                                <p>Pitch Count-{{showSwing}}</p>
                            </div>
                            <!-- <div>
                                <a href="javascript:void(0);" class="btn video_btn">Next</a>
                            </div> -->
                        </div>
                        </div>
                        
                        <div class="video_box">
                          
                            <a href="javascript:void(0);" (click)="swingButtonWork?optionSelect(1):false" >SWING!</a>
                        </div>

                        <div class="report-btn">
                            <a href="javascript:void(0);" class="report_button">Report Issue</a>
                        </div>
                    </div>

                </div>
        
            
            
        </div>


        <div *ngIf="showNormalQuiz">
          
            <div class="row row_sec"> 
                
                <div class="col-lg-9 col-md-8 col-sm-8 col-6 col_video" [ngClass]="!ShowVideo?'left-side-hide':''" [ngClass]="showPlayButton?'showPlayButton':''"> 
                    <app-videos  [url]="currentQuestion.url" [showThumbs]="showThumbs" [rightThumbs]="rightThumbs" (videoEnded)="videoEnded($event)" (videoPlay)="playButton($event)"></app-videos>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-4 col-6 col_video_button " [ngClass]="questionDisplay?'col-add_after':''"> 
                    <div class="video_card">
                        <div class="video_top_content">
                        <div>
                            <p>{{currentQuestion.currentIndex+1}}/{{currentQuestion.totalQuestion}}</p>
                            <p>Pitch Count</p>
                        </div>
                        <!-- <div>
                            <a href="javascript:void(0);" class="btn video_btn">Next</a>
                        </div> -->
                    </div>
                    </div>
                    <!-- showNormalQuiz start -->
                    <div class="show_Normal-Quiz">
                        <div class="ays-bind-subquestion"  *ngFor="let quizans of currentQuestion.answers">
                            <div class="ays-bind-subquestion">
                               
                            <p class="text-center" >{{quizans.label}}</p>
                            <div class="normal_quiz-btn">
                                <button type="button" class="btn quiz-one" [ngClass]="hightlightButtonId==quizans.answer1.id?'btn-color-yellow':''" (click)="normalQuizAnswer(quizans.answer1.id);">{{quizans.answer1.answer}}</button>
                                <button type="button" class="btn quiz-two" [ngClass]="hightlightButtonId==quizans.answer2.id?'btn-color-yellow':''" (click)="normalQuizAnswer(quizans.answer2.id);">{{quizans.answer2.answer}}</button>
                            </div>
                             </div>   
                         </div>                     
                        <!-- showNormalQuiz end -->
                        <!-- Timer -->
                        <div class="timeProgressBar">
                            <p class="text-center">Time</p>
                            <app-progress-bar [progress]="progress" [total]="timer"></app-progress-bar>
                            <p class="text-center">{{reactTime}}</p>
                        </div>
                        <!-- Timer end-->
                    </div>
                    <div class="report-btn">
                        <a href="javascript:void(0);" class="report_button">Report Issue</a>
                    </div>
                </div>
            </div>  
    </div>



    <div *ngIf="showSingleLineQuiz">
           
        <div class="row row_sec"> 
            
            <div class="col-lg-9 col-md-8 col-sm-8 col-6 col_video" [ngClass]="!ShowVideo?'left-side-hide':''" [ngClass]="showPlayButton?'showPlayButton':''"> 
                <app-videos  [url]="currentQuestion.url" [showThumbs]="showThumbs" [rightThumbs]="rightThumbs" (videoEnded)="videoEnded($event)" (videoPlay)="playButton($event)"></app-videos>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-4 col-6 col_video_button" [ngClass]="questionDisplay?'col-add_after':''"> 
                <div class="scroll-div-wrap">
                    <div class="video_card">
                    <div class="video_top_content">
                    <div>
                        <p>{{currentQuestion.currentIndex+1}}/{{currentQuestion.totalQuestion}}</p>
                        <p>Pitch Count</p>
                    </div>
                    <!-- <div>
                        <a href="javascript:void(0);" class="btn video_btn">Next</a>
                    </div> -->
                    </div>
                    </div>
                    <!-- showSingleLineQuiz start-->
                    <div class="showSingleLineQuiz-box">
                        <button type="button" class="singleline_btn" 
                        *ngFor="let quizans of currentQuestion.answers.answer" 
                        [ngClass]="hightlightButtonId==quizans.id?'btn-color-yellow':''" 
                        (click)="normalQuizAnswer(quizans.id);">
                            {{quizans.answer}}                      
                        </button>
                        
                    </div>
                    <!-- showSingleLineQuiz end -->
                       <!-- Timer -->
                    <div class="timeProgressBar">
                        <p class="text-center">Time</p>
                        <app-progress-bar [progress]="progress" [total]="timer"></app-progress-bar>
                        <p class="text-center">{{reactTime}}</p>
                    </div>
                    <!-- Timer end-->
                    <div class="report-btn">
                        <a href="javascript:void(0);" class="report_button">Report Issue</a>
                    </div>
                </div>
            </div>
        </div>

    
    
</div>


        <div *ngIf="resultPage">
            <app-result [resultPageData]="storeResultArray" [isQuizSwing]="swingTemplate"></app-result>
        </div>

    </div>    
    

    
</div>

