.quiz{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background:#333333;
    top: 0;
    left: 0;
    color:#fff;
}
.quiz-btn{
    background-color: #1e73be;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 14px;
    border: 2px solid #333333;
    border-radius: 3px;
}
.quiz-btn:hover{
    border: 2px solid #fff;
}
.quiz>.quiz-firstPage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.quiz-head{
    font-size: 20px;
    line-height: 20px;
}
.quiz-firstPage pre{
    font-size: 16px;
    line-height: 18px;
}

.report-btn {
    /* margin-top: 20px;
    text-align: center; */
    margin-top: 20px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4%;
    z-index: 998;
    width: 100%;
}
.report_button {
    background-color: #1e73be !important;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
}
.row_sec {
    height: 100vh;
    width: 100%;
    margin: 0;
}
.col_video {
    height: 100vh;
    padding: 0px;
}
.col_video_button{
    height: 100vh;
    padding: 15px;
}
.col-add_after {
    padding: 15px;
}
.video_card p:first-child {
    font-size: 22px;
    line-height: 22px;
}

.video_top_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #717171;
    margin-top: 17px;
}

.video_box {
    position: relative;
    /* height: 100%; */
    width: 100%;
    background: #1691e0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #484848;
    border-radius: 7px;
    margin-top: 7px;
    height: calc(100% - 170px);
}
.video_box a {
    color: #fff;
    text-transform: uppercase;
    font-size: 52px;
    line-height: 52px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* normal_quiz-btn */
.normal_quiz-btn button {
    font-size: 15px;
    color: #fff;
    line-height: 15px;
    padding: 13px 30px;
    border-radius: 10px;
    margin: 0 5px;
    font-weight: 500;
    width: 100%;
}
.normal_quiz-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ays-bind-subquestion p {
    font-size: 15px;
    line-height: 15px;
}
.ays-bind-subquestion {
    background: #484848!important;
    border-radius: 9px;
    padding: 5px;
    margin-top: 5px;
}
.btn.quiz-one {
    background-color: #ff5757;
}
.btn.quiz-two {
    background-color: #7ed957;
}
.col-add_after:after {
    position: absolute;
    content: "";
    background: rgb(0 0 0 / 69%);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

/*showSingleLineQuiz start*/
.showSingleLineQuiz-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background: #404040;
    height: calc(100% - 300px);
    margin: 40px;
    border-radius: 30px;
}
.showSingleLineQuiz-box button.singleline_btn {
    background: #1e73be;
    border: 2px solid #1e73be;
    margin-bottom: 20px;
    padding: 16px;
    width: 76%;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}
.showSingleLineQuiz-box button.singleline_btn:hover {
    border: 2px solid #fff;
}
/*showSingleLineQuiz end*/

/*.normal_quiz-btn button:last-child {
    background: #7ed957;
}*/
/*left-side video hide css*/

.left-side-hide:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
}
.showPlayButton:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../../assets/icons/play2.png');
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
    z-index: 99;
}
/*left-side video hide end css*/
.thumbs-sec {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 988;
}
.thumbs-sec img {
    max-width: 50%;
    width: 100%;
}
/*mobile portrait*/
.showNormalQuiz {
    position: relative;
}
.mobile-portrait {
    display: none;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    color: #000;
    z-index: 999;
    background: #fff;
}
.mobile-portrait figure {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.btn-color-yellow {
    background-color: orange!important;
    border: 2px solid green;
}
/*responsive*/
@media(max-width: 1199px){
.video_box {
    height: calc(100% - 200px)!important;
}
}
@media(max-width: 639px){
.mobile-portrait {
    display: block!important;
}
.quiz-firstPage {
    width: 70%;
}
}
/*responsive end*/ 
/*210412 end*/

.example-margin {
    margin: 0 10px;
  }

  /*210430*/
  .timeProgressBar p {
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    margin-top: 6px;
}
.timeProgressBar {
    padding: 15px 0;
}
@media(max-width: 991px){
.normal_quiz-btn button {
    font-size: 14px;
    line-height: 14px;
    padding: 7px 19px;
}
.report_button {
    padding: 10px 9px;
}
.timeProgressBar {
    padding: 0px 0;
}
.timeProgressBar p {
    font-size: 12px;
    line-height: 12px;
    margin-top: 4px;
    margin-bottom: 5px;
}
}
@media (max-width: 767px){
.normal_quiz-btn button {
    padding: 7px 9px;
}
}
  /*210430 end*/
