<div class="video">
  <div class="video-player-wrapper">
    <vg-player (onPlayerReady)="videoPlayerInit($event)" *ngIf="url != ''">
      <vg-overlay-play></vg-overlay-play>
      <vg-buffering></vg-buffering>

      <!-- <vg-controls>
                    <vg-quality-selector 
                                         (onBitrateChange)="setBitrate($event)"
                                         [bitrates]="bitrates">
                    </vg-quality-selector>
    
                </vg-controls> -->

      <video
        #media
        (onGetBitrates)="bitrates = $event"
        [vgMedia]="media"
        [vgHls]="url"
        id="singleVideo"
        crossorigin="anonymous"
        webkit-playsinline="true"
        playsinline="true"
      ></video>

      <!-- <video 
              [vgMedia]="media" 
              #media 
              id="singleVideo" 
              [src]="url"  
              crossorigin 
              webkit-playsinline="true" 
              playsinline="true"
              
              >  </video> -->
    </vg-player>

    <!-- thumbs-sec -->
    <div class="thumbs-sec" *ngIf="showThumbs">
      <div class="thumbs-up" *ngIf="rightThumbs">
        <figure>
          <img [src]="correctThumbIcon" />
        </figure>
      </div>
      <div class="thumbs-down" *ngIf="!rightThumbs">
        <figure>
          <img [src]="wrongThumbIcon" />
        </figure>
      </div>
    </div>
    <!-- thumbs-sec end -->
  </div>
</div>
